# データ分析や機械学習における日本語の変数名の取り扱い

ビジネス関連のデータセットの列名が日本語になっていますよね。
どのようにして日本語ができないチームメンバーと、**効率的**に連携しながら
データ分析業務を行っていきますか。
**効率的**とは、お互いのソースコードを読めたり、
特徴量名・変数名について意思疎通ができたりする
ということです。

> 取り上げている「日本語」はあくまでも、プロジェクトメンバー全員が精通しているわけではない、とある自然言語を象徴しているのに過ぎません。
> 中国語や韓国語などに読み替えても問題ありません。

東京 2021/11/23, Vo Chi Cong

国際的なデータ分析・機械学習チームに所属しながら、業務で当然のように日本語の変数名を使っていませんか。
お客様が日本企業ならば、データセットの列名が日本語になっていることがほとんどです。
これらの列名がそのまま特徴量の名前、いわゆる説明変数の名前として扱われることが多く見られます。
このままだと、専門性の高い外国人データアナリスト、データエンジニア、データサイエンティストの
プロジェクト参画の障害になりかねません。

また、お客様企業から更新データが提供されるたびに、または他システムからデータが連携されてくるたびに、
列名が時に変わっていませんか。どうしたら、前処理の工程で列名変更を吸収し、
後続の分析・学習・予測行程に影響が及ばないようにできるのでしょうか。

最後に、納品や報告用の資料にはどうしたら、正確な特徴量名称を適用することができるのでしょうか。
この正確性は、プロジェクトでの取り決めによるもので、プロジェクトの進行中に特徴量の名称が
幾度変更されても、最終的には、最新のルールに従って表示する必要があります。

# 日本語変数名の問題点

日本語変数名をそのまま直接使う場合に生じうる問題点を具体的に見ていきましょう。

簡単な例として、「名」と「歳」とい2つだけの列からなる個人情報テーブル（西遊記の中心人物)
`df_in` があるとします。

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr_or_assign"
import pandas as pd

In [3]:
df_in = pd.DataFrame(dict(名 = ["孫 悟空", "猪 八戒", "沙 悟浄", "玄奘 三蔵"], 歳 = [22, 19, 18, 30]))

       名   歳
0   孫 悟空  22
1   猪 八戒  19
2   沙 悟浄  18
3  玄奘 三蔵  30

# 日本語の変数名を使う問題点